nav {
  height: 120px;
  background-color: blanchedalmond;
  color: #000000;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Distribute items along the main axis */
  align-items: center; /* Align items vertically */
  padding: 1.5em;
  position: fixed;
  top: 0;
  background-image: url("/images/inspiration-geometry.png");
}

nav span {
  font-family: "Bungee";
}

.writeTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .fa-solid {
  color: red;
}