nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between; /* Distribute items along the main axis */
  align-items: center; /* Align items vertically */
  padding: 1.5em;
  position: fixed;
}

nav span {
  font-family: "Bungee";
}

.writeTweet {
  color: #000000;
}
